/* You can add global styles to this file, and also import other style files */
@import '@taiga-ui/core/styles/taiga-ui-local.less';

@import './assets/less/utilities.less';

*{
    --tui-autofill: white;
}

.t-shadow-container {
    font: var(--tui-font-text-m);
    .shadow(1);
    padding: 30px;
    background-color: var(--tui-base-01);
    border-radius: var(--tui-radius-m);
}

.container-shadow{
    .shadow(1);
}

.input-container{
   
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
    border-radius: var(--tui-radius-m);
    border: solid transparent !important;
    border-width: 0 var(--border-end, 0) 0 var(--border-start, 0) !important;
    border-inline-start-width: var(--border-start, 0) !important;
    border-inline-end-width: var(--border-end, 0) !important;
    .shadow(1);
    &:focus{
        outline: none !important    ;
    }
}